apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    jsonData:
      version: Flux
      organization: hft-engine
      defaultBucket: analytics
    secureJsonData:
      token: hft-dev-token
    isDefault: true
    editable: true
